.yui-editor-container A {color: black !important;}
.editor-mask-container.active .editor-mask {
    background-color: black;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
	-moz-opacity: 0.3; /* Mozilla 1.6 */
	-webkit-opacity: 0.3; /* Mozilla 1.6 */
	-khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.3;
	width: 100%;
	height: 100%;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
}
.editor-mask-container .editor-mask-label {display: none;}
.editor-mask-container.active .editor-mask-label {
	background-color: black;
	color: white;
	font-weight: bold;
	height: 25px;
	left: 50%;
	margin-left: -130px;
	padding: 30px 50px;
	position: fixed;
	top: 250px;
	width: 200px;
	z-index: 101;
	display: block !important;
}
.yui-toolbar-imageUpload {
	background: url("/images/upload_image.png") no-repeat scroll 50% 50% transparent !important;
}
.yui-toolbar-fileUpload {
	background: url("/images/upload_file.png") no-repeat scroll 50% 50% transparent !important;
}
