/* @override http://localhost:3000/stylesheets/screen.css */
body#product_list {
  background: #fff url(/assets/bg.png) repeat-x;
}

body {
  background: #fff url(/assets/narrow_bg.png) repeat-x;
}

#banner, #container, footer .inner {width: 960px; margin: 0 auto;}

header, footer {background-color: #000;}
header nav *, footer div#secondary * {display: inline-block;}
header {
  position: relative;
  z-index: 100;
  height: 58px;
  margin: 0 auto;
}

header form {
  position: absolute;
  left: 320px;
  top: 23px;
  padding: 0;
}
header form input {
  background: #fff url(/assets/search_bg_s1.gif) no-repeat;
  border: 0;
  width: 146px;
  height: 23px;
  padding: 0 25px 0 10px;
  color: #333;
  line-height: 23px;
}
header form input.empty  {
  color: #aaa;
} 


header #logo {
  position: absolute;
  left:  0; top: 11px;
}



header nav {
  position: absolute;
  right: 0;
  top: 24px;
  text-align: right;
}
header nav a, header nav a:visited,header nav a:hover {
  margin: 0 0 0 12px;
  text-align: right;
  font: normal normal normal 1.1em/1.6em Arvo;
  color: #fff;
}

header nav a.cart {color: #B30000;}

footer {
  background: #fff url('/assets/footer_bkgd.jpg') repeat-x bottom left;
  margin: 80px 0 0; clear: both;
  font-family: Trebuchet MS;
}

footer .inner {
  height: 520px;
  position:  relative;
}

footer #kid {
  position: absolute;
  bottom: 60px;
}
footer #about-railsdog-radio {
  position: absolute;
  width: 710px;
  left: 250px;
  bottom: 0px;
  height: 390px;
  font-size: 150%;
  line-height: 150%;
  color: #666;
}
#more-about-railsdog-radio {
  text-align: right;
  font-size: 70%;
}
#more-about-railsdog-radio a {
  text-decoration: none;
}

footer #about-railsdog-radio strong { color: #000; }
footer #contact-us, footer #social, footer #menu {
  width: 210px;
  position: absolute;
  bottom: 0;
  height: 170px;
}
footer #contact-us a, footer #social a, footer #menu a { color: #797A7D; }
footer #contact-us p, footer #social p, footer #menu p {
  color: #797A7D;
  line-height: 2.0em;
  font-size: 1.2em;
}
footer #contact-us h3, footer #social h3, footer #menu h3 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
footer #contact-us {
  left: 250px;
}
footer #social {
  left: 500px;
}
footer #menu {
  left: 750px;
}
footer #social a {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-image: url(/assets/social-icons.png);
}
footer #social a:hover {
  background-image: url(/assets/social-icons-rollover.png);
}
footer #social a span    { display: none; }
footer #social #rss      { background-position: -37px 0   }
footer #social #twitter  { background-position: -75px 0  }


footer #copyright {
  color: #797A7D;
  position: absolute;
  bottom: 20px;
  right: 0;
}



#sidebar .list-box {
  width: 230px;
  float: left;
  background-color: #F3F3F3;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:  0px 30px 30px 30px;
  color: #666;
  font-family: Trebuchet MS;
}

.list-box {
  padding-top: 30px; /* match #contact  */
}
.list-box h2 {
  color: #364D8C;
}
.list-box h2, #homepage #contact h2 {
  font-family: Arvo;
  font-size: 170%;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #A3A3A3;
  padding-bottom: 0.5em;
}
.list-box li {
  font-size: 1.25em;
  line-height: 1.5em;
}
.list-box a {
  color: #666;
  text-decoration: none;
}
.list-box a:hover {
  text-decoration: underline;
}
#recent-products {
  margin-top: 40px;
}

.breadcrumbs, .pagination {
  font-size: 1.1em;
  padding: 0 0 20px 0;
}
.breadcrumbs ul {
  margin-left: 0px !important;
}
.breadcrumbs li {
  float: left;
  list-style: none;
}
.pagination {
  text-align: right;
}





button, a.button {
  border: none;
  background-color: #0095DA;
  color: #fff!important;
  padding: 10px 18px 9px 18px;
  font-size: 16px;
  font-family: Arvo;
  text-transform: uppercase;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: normal;
}
a.button {
  text-decoration: none;
  line-height: 37px;
}
button:hover, a.button:hover {
  background-color: #0068B8;
}
